:root {
  --primary-color: #4d9bf7;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  width: 480px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  position: fixed;
  top: 0;
  padding: 16px 16px 14px;
  background-color: #fff;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  font-size: 12px;
  color: var(--primary-color);
}
header h2 {
  font-size: 20px;
  color: var(--text-color);
}

/* Cd */

.cd {
  width: 200px;
  margin: 0 auto;
}

.cd .cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;

  background-color: #ccc;
  background-size: cover;
  background-position: center;
}

/* Control */
.control {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px 0 8px 0;
}

.control .btn {
  font-size: 16px;
  padding: 18px;
  color: #666;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: #fff;
}

.progress-area {
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 6px;
  cursor: pointer;
}

.current-time,
.duration-time {
  min-width: 60px;
  text-align: center;
  color: #666;
}

/* .progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  background: var(--primary-color);

  width: 12px;
  height: 6px;

  background-color: var(--primary-color);
  cursor: pointer;
} */

/*  Music list */
.playlist {
  margin-top: 408px;
  padding: 12px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  /* overflow-y: scroll; */
}
.song {
  display: flex;
  align-items: center;

  padding: 8px 16px;
  margin-bottom: 12px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.song:active {
  /* onmousedown */
  opacity: 0.8;
}

.song.active {
  background-color: var(--primary-color);
}
.song.active .song__body-title,
.song.active .song__body-author,
.song.active .song__option {
  color: #fff;
}

.song__thumbnail {
  width: 44px;
  height: 44px;
  background-image: url("https://i.ytimg.com/vi/jTLhQf5KJSc/maxresdefault.jpg");

  background-color: #ccc;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 8px;
}
.song__body {
  flex: 1;
  padding: 0 16px;
}
.song__body-title {
  font-size: 18px;
  color: var(--text-color);
}
.song__body-author {
  font-size: 12px;
  color: #999;
}
.song__option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}
